.button {
    width: 210px;
    height: 52px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white; // Default color
    font-weight: bold;
    margin: 5px; // Add some spacing

    &.primary {
        background: #38A7FF;
        &:hover {
            background-color: #0081E8;
        }
    }

    &.edit {
        background: #F6C94C;
        color: black;
        &:hover {
            background-color: #F6B52D;
        }
    }

    &.delete {
        background: #FF4D4D;
        &:hover {
            background-color: #FF0000;
        }
    }
}
